* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.navlogo {
  height: 35px;
  width: 35px;


}

nav {
  height: 9vh;
  border-bottom: #e9e9e9 solid .1px;
}

#navlink {
  font-size: 18px;
  color: black;
}

#navlink:hover {
  color: rgb(3, 196, 196);

}

#hovercolor {
  color: black
}

#hovercolor:hover {
  color: rgb(3, 196, 196);
}

#navlink2 {
  font-size: 18px;
  color: black;
}

#navlink2:hover {
  background-color: rgb(3, 196, 196);
  color: white;

}

.carouselimg {
  border-radius: 1%;
}